/*
#######################################################
#++++++++++++++++++++++++++++LIST SECTION++++++++++++#
######################################################
*/

.to-do {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px;
}

.list-container {
  margin: 0;
  border: 1px solid rgb(36 34 34);
  padding: 10px;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

#input-element {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  font-style: italic;
}

.to-do-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 600px;
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid grey;
  width: 100%;
  box-sizing: border-box;
  background-color: #ddd;
}

#footer-a {
  color: black;
}

.list-items {
  color: red;
}

.list-text {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.3rem;
}

#items-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.to-do-list-elements {
  display: flex;
  gap: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  align-items: center;
}

.inputs {
  flex: 1;
}

.fa-trash {
  color: grey;
}

input[type="text"] {
  flex: 1;
}

input[type="submit"],
input[type="text"] {
  border: none;
}

input[type="text"]:focus {
  outline: none;
}

/*
#######################################################
#++++++++++++++++++++++++++++FORM SECTION++++++++++++#
######################################################
*/

form {
  display: flex;
  min-width: 600px;
  border: 1px solid grey;
}

.completed {
  text-decoration: line-through;
}
